<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/web/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Youtube Clone</title>
</head>

<body>

    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="/static/web/images/menu.png" class="menu-icon" alt="" srcset="">
            <img src="/static/web/images/logo.png" class="logo" alt="" srcset="">
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Поиск...">
                <img src="/static/web/images/search.png" alt="" srcset="">
            </div>
            <img src="/static/web/images/voice-search.png" class="mic-icon" alt="" srcset="">
        </div>
        <div class="nav-right flex-div">
            <img src="/static/web/images/upload.png" alt="" srcset="">
            <img src="/static/web/images/more.png" alt="" srcset="">
            <img src="/static/web/images/notification.png" alt="" srcset="">
            <img src="/static/users_data/uploads/avatars/1.png" class="user-icon" alt="" srcset="">
        </div>
    </nav>

    <!-- Side Bar -->

    <div class="sidebar">
        <div class="shortcut-links">
            <a href="#"><img src="/static/web/images/home.png">
                <p>Главная</p>
            </a>
            <a href="#"><img src="/static/web/images/explore.png">
                <p>Навигатор</p>
            </a>
            <a href="#"><img src="/static/web/images/subscriprion.png">
                <p>Подписки</p>
            </a>
            <hr>
            <a href="#"><img src="/static/web/images/library.png">
                <p>Библиотека</p>
            </a>
            <a href="#"><img src="/static/web/images/history.png">
                <p>История</p>
            </a>
            <a href="#"><img src="/static/web/images/playlist.png">
                <p>Плейлисты</p>
            </a>
            <a href="#"><img src="/static/web/images/messages.png">
                <p>Сообщения</p>
            </a>
            <!--<a href="#"><img src="/static/web/images/show-more.png"><p>Show more</p></a>-->
            <hr>
        </div>
        <div class="subscribed-list">
            <h3>Подписки</h3>
            <!--<a href="#"><img src="/static/web/images/Jack.png"><p>Jack Williamson   &bull;</p></a>
              <a href="#"><img src="/static/web/images/simon.png"><p>simon Baker</p></a>
              <a href="#"><img src="/static/web/images/tom.png"><p>Tom Haland  &bull;</p></a>
              <a href="#"><img src="/static/web/images/megan.png"><p>Megan Fox  &bull;</p></a>
              <a href="#"><img src="/static/web/images/cameron.png"><p>Cameron Green </p></a>-->


        </div>
    </div>

    <!-- Main Body -->
    <div class="container">
        <div class="banner">
            <img src="/static/web/images/banner.png" alt="" srcset="">
        </div>
        <div class="list-container">
            {% for _ in range(10) %}
                <div class="vid-list">
                    <a href="video-1.html"> <img src="/static/web/images/thumbnail4.png" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="/static/users_data/uploads/avatars/1.png">
                        <div class="vid-info">
                            <a href="video.html">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, nobis?</a>
                            <p>Avalin</p>
                            <p><i class="fa-solid fa-eye"></i> 2k &bull; 2 дня назад</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            
        </div>

    </div>




<script src="/static/web/js/side-bar.js"></script>
</body>

</html>